<div class="card bg-light">
    <div class="card-header">
      <h4 class="card-title text-success">Add User</h4>
    </div>
      <div class="card-body">
            <form name="userForm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text-primary">Username</label>
                                <input class="form-control" rows="5" ng-model="$ctrl.user.username" name='username' required minlength="6" maxlength="30"/>
                                <div class="help-block" ng-messages="userForm.username.$error" ng-show="userForm.username.$touched || userForm.username.$dirty">
                                    <span  ng-message="required"><div>Username is required.</div></span>
                                    <span  ng-message="minlength"><div>Minlength is 6.</div></span>
                                    <span  ng-message="maxlength"><div>Maxlength is 30.</div></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text-primary">Password</label>
                                <input class="form-control" ng-model="$ctrl.user.password" name='password' required minlength="8" maxlength="30"/>
                                <div class="help-block" ng-messages="userForm.password.$error" ng-show="userForm.password.$touched || userForm.password.$dirty">
                                    <span  ng-message="required"><div>Password is required.</div></span>
                                    <span  ng-message="minlength"><div>Minlength is 8.</div></span>
                                    <span  ng-message="maxlength"><div>Maxlength is 30.</div></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text-primary">Confirm Password</label>
                                <input class="form-control" ng-model="$ctrl.user.confirmPassword" name="confirmPassword" required minlength="8" maxlength="30" password-verify="$ctrl.user.password"/>
                                <div class="help-block" ng-messages="userForm.confirmPassword.$error" ng-show="userForm.confirmPassword.$touched || confirmPassword.password.$dirty">
                                    <span  ng-message="required"><div>Confirm Password is required.</div></span>
                                    <span  ng-message="minlength"><div>Minlength is 8.</div></span>
                                    <span  ng-message="maxlength"><div>Maxlength is 30.</div></span>
                                    <span  ng-message="passwordVerify"><div>Password does not match.</div></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text-primary">Display Name</label>
                                <input class="form-control" ng-model="$ctrl.user.displayName" name="displayName" required minlength="8" maxlength="30"/>
                                <div class="help-block" ng-messages="userForm.displayName.$error" ng-show="userForm.displayName.$touched || userForm.displayName.$dirty">
                                    <span  ng-message="required"><div>Username is required.</div></span>
                                    <span  ng-message="minlength"><div>Minlength is 8.</div></span>
                                    <span  ng-message="maxlength"><div>Maxlength is 30.</div></span>
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <button class="form-control" ng-click="$ctrl.save()">Save</button>
                            </div>
                            <div class="form-group">
                                <a class="form-control" href="/">Cancel</a>                                   
                            </div>
                        </div>
                    </div>
        
        
            </form>
    </div>